@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        @if $asset-pipeline == true {
            src: font-url('#{$file-path}.woff') format('woff'), font-url('#{$file-path}.woff2') format('woff2')
        }
        @else {
           src: url('#{$file-path}.woff') format('woff'), url('#{$file-path}.woff2') format('woff2') 
        }
    }
}

@mixin object-fit($fit: fill, $position: null) {
    -o-object-fit: $fit;
    object-fit: $fit;
    @if $position {
        -o-object-position: $position;
        object-position: $position;
        font-family: 'object-fit: #{$fit}; object-position: #{$position}';
    } @else {
        font-family: 'object-fit: #{$fit}';
    }
}
  