@import "./variables";
@import "./mixins";
@import "./fonts";


@import "./common";

@import "../../uikit-icons/src/scss/uikit";

.background-img {
    background-image: url("~@/images/shutterstock.jpg");
    background-size: cover;
    width: 300px;
    height: 300px;
}
