//
// Colors
//

@global-color:                                  #666;
@global-muted-color:                            #999;

//
// Backgrounds
//

@global-background:                             #fff;
@global-muted-background:                       #f8f8f8;
