//
// Colors
//

$global-color:                                   #666 !default;
$global-muted-color:                             #999 !default;

//
// Backgrounds
//

$global-background:                              #fff !default;
$global-muted-background:                        #f8f8f8 !default;
