include ../mixins

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    base(href="/")
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")
    title Demo
  body
    .tm-page
      include ../modules/header
      main
        block content
      include ../modules/footer

    include ../modules/offcanvas
